.profile__edit-button{
    width: 24px;
    height: 24px;
    grid-area:profile__edit-button;
    padding: 0;
    margin: auto 0 0 18px;
    border: 1px solid #fff;
    background: none;
    transition: all .3s;
    cursor: pointer;
}

.profile__edit-button:hover{
    opacity: 0.6;
}

@media screen and (max-width:400px){
    .profile__edit-button{
        margin: 6px 0 0 8px;
    }
}