.profile__add-button{
    width: 150px;
    height: 50px;
    margin: 0 0 0 auto;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background: none;
    transition: all .3s;
    cursor: pointer;
}
.profile__add-button:hover{
    opacity: 0.6;
}


@media screen and (max-width:765px){
    .profile__add-button{
        width: 282px;
        margin: 17px 7px 0 0;
    }
}
