.profile__avatar{
    background: none;
    border-radius: 50%;
    width: 120px;
}
@media screen and (max-width:765px){
    .profile__avatar{
        margin: 0 0 26px 0;
    }
}
@media screen and (max-width:320px){
    .profile__avatar{
        margin: 6px 0px 26px 1px;
    }
}
