.profile__info{
    margin:  0 0 0 30px;
    display: grid;
    grid-template-areas:
    'profile__title profile__edit-button'
    'profile__subtitle profile__subtitle';
    grid-template-columns: 294px 42px;
    grid-template-rows: 40px 33px;
}

@media screen and (max-width:700px){
    .profile__info{
        margin: 0 0 0 0;
    }
}
@media screen and (max-width:400px){
    .profile__info{
        grid-template-columns: 198px 0;
        max-width: 282px;
    }
}
